.main-menu-bar{
    background-color: blue;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.menuBox{
   display: flex;
   flex-direction: rows;
   width: 100%;
   justify-content: stretch;
}

.day-container{
    flex-grow: 1;
}
.menu-description,.menu-day,.menu-soup,.menu-mainMeal,.menu-salad,.menu-dessert{
    border: 1px solid black;
    min-height: 40px;
}
.menu-description{
    background-color: cornsilk;
}
.menu-day{
    background-color: cyan;
}
.menu-mainMeal,.menu-soup{
    background-color: darkorange;
}
.menu-salad,.menu-dessert{
    background-color: darkorchid;
}
.selected{
    background-color: yellow !important;
}